{% extends "base.html" %}
{% block title%}Greek Gods Home{% endblock %}
{% block body%}Greek Gods Home{% endblock %}
{% block content%}
<body>
    <!-- Page Content -->
    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">The Olympians</h1>
      
        <hr class="mt-2 mb-5">
      
        <div class="row text-center text-lg-left">
      
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Zeus" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Zeus.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Poseidon" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Poseidon.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Hades" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Hades.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Hera" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Hera.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Ares" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Ares.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Aphrodite" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Aphrodite.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Hephaestus" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Hephaestus.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Hermes" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Hermes.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Athena" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Athena.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Artemis" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Artemis.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Demeter" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Demeter.jpg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Apollo" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Apollo.jpg"alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Dionysus" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Dionysus.jpg"alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="/Hestia" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail" src="/static/greek_gods/Hestia.jpg"alt="">
                </a>
          </div>
        </div>
      
      </div>
      <!-- /.container -->
</body>
{% endblock %}